@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  
  .bg-gray-900 {
    background-color: #1a202c;
  }
  
  .text-white {
    color: white;
  }
  
  .bg-white {
    background-color: white;
  }
  
  .text-black {
    color: black;
  }
  

/* index.css */

.fade-up {
  opacity: 0;
  transform: translateY(40px);
  transition: all 0.7s ease;
}
.fade-left {
  opacity: 0;
  transform: translateX(-40px);
  transition: all 0.7s ease;
}
.fade-right {
  opacity: 0;
  transform: translateX(40px);
  transition: all 0.7s ease;
}
.show {
  opacity: 1;
  transform: translate(0, 0);
}


img[data-smart="true"] {
  opacity: 0;
  transition: opacity 0.4s ease-out;
}

img:not([data-src]) {
  opacity: 1;
}
@layer base {
  html, body {
    overflow-x: hidden;
  }
}
/* index.css */
html, body {
  overflow-x: hidden !important;
  margin: 0;
  padding: 0;
  width: 100%;
  position: relative;
}

#root {
  overflow-x: hidden;
}
@keyframes glow {
  0%, 100% {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff;
  }
  50% {
    text-shadow: 0 0 10px #ffb0d2, 0 0 20px #e48cbb;
  }
}

.animate-glow {
  animation: glow 2s infinite ease-in-out;
}
@keyframes glow {
  0%, 100% {
    text-shadow: 0 0 3px #fff, 0 0 6px #fff, 0 0 10px #fff;
  }
  50% {
    text-shadow: 0 0 5px #ffdbf3, 0 0 10px #e48cbb, 0 0 15px #c74885;
  }
}

.glow-text {
  animation: glow 2s infinite ease-in-out;
}
