@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  
  .bg-gray-900 {
    background-color: #1a202c;
  }
  
  .text-white {
    color: white;
  }
  
  .bg-white {
    background-color: white;
  }
  
  .text-black {
    color: black;
  }
  

/* index.css */

.fade-up {
  opacity: 0;
  transform: translateY(40px);
  transition: all 0.7s ease;
}
.fade-left {
  opacity: 0;
  transform: translateX(-40px);
  transition: all 0.7s ease;
}
.fade-right {
  opacity: 0;
  transform: translateX(40px);
  transition: all 0.7s ease;
}
.show {
  opacity: 1;
  transform: translate(0, 0);
}


img[data-smart="true"] {
  opacity: 0;
  transition: opacity 0.4s ease-out;
}

img:not([data-src]) {
  opacity: 1;
}
